version: "3.1"
services:
    db:
      image: mariadb:10.1
      container_name: ${COMPOSE_PROJECT_NAME}_db
      working_dir: /application
      volumes:
        - ./volume/db/mysql:/var/lib/mysql
      environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}

    webserver:
      image: nginx:alpine
      container_name: ${COMPOSE_PROJECT_NAME}_webserver
      working_dir: /application
      volumes:
          - ./nginx/nginx.conf:/etc/nginx/nginx.conf
          - ./nginx/server.conf:/etc/nginx/conf.d/server.conf
          - ./volume/webserver:/var/log/nginx
          - ${APP_PATH}:/application
          - ./volume/wp-content:/application/wp-content

    fpm:
      build: php-fpm
      container_name: ${COMPOSE_PROJECT_NAME}_fpm
      working_dir: /application
      environment:
        MYSQL_HOST: ${COMPOSE_PROJECT_NAME}_db
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        DOMAIN_CURRENT_SITE: ${DOMAIN_CURRENT_SITE}
        DEBUG: ${DEBUG}
      volumes:
          - ${APP_PATH}:/application
          - ./volume/wp-content:/application/wp-content
