version: "3.1"
services:
    # mailhog:
    #   container_name: ${COMPOSE_PROJECT_NAME}_mailer
    #   image: mailhog/mailhog:latest
    #   container_name: docker-base-mailhog
    #   ports:
    #       - "8081:8025"

    db:
      ports:
        - "3306:3306"
      volumes:
          - ./volume/db/dump:/docker-entrypoint-initdb.d

    webserver:
      ports:
          - "80:80"

#    fpm:
#      volumes:
#          - ./php-fpm/php-ini-overrides.ini:/usr/local/etc/php/99-overrides.ini
